.letter{
    color: white;
}

.message{
    color: black;
}

.hand{
    cursor: pointer;
}

.exit{
    color: white;
    margin-top: 8%;
}

.divBorder{
    border: solid 10px gray;
}

ul
{
  width: 100%;
  height: 60px;
}

@media only screen and (max-width: 600px)
{
  .exit
  {
    margin-top: 8%;
  }
  ul
  {
    position: fixed;
  }

}
