.letter{
    color: white;
}


.hand{
    cursor: pointer;
}

.notification{
    background-color: gray;
}

.exit{
    color: white;
    margin-top: 8%;
}

.divBorder{
    border: solid 4px gray;
    
}

@media only screen and (max-width: 600px) {
    
    
    .exit{
        margin-top: 8%;
    }


}