
<ul class="nav bg-dark justify-content-end">
    <li class="nav-item">
          <a class="nav-link hand letter" data-toggle="modal" data-target=".bd-example-modal-lg">
          <i class="material-icons bg-white">notifications</i>
          <span class="label-count letter"> {{notificationsNumber}}</span>
          </a>
        </li>
    <li class="nav-item">
      <button class="btn btn-primary exit"  (click)="closeSession()">Salir</button>
    </li>
  </ul>  


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tus notificaciones</h4>  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            
          </div>
          <div class="modal-body">
            <div class="container-fluid" *ngFor="let notification of notifications">

                <div *ngIf="notification.getContentSize() > 1" class="container-fluid divBorder">
                    <h3>{{notification.getContent()[0]}}</h3>
                    <h3>{{notification.getContent()[0]}}</h3>
                    <h3>{{notification.getContent()[0]}}</h3>
                    <h3>{{notification.getContent()[0]}}</h3> 
                    <div class="btn-group">
                        <button type="button" (click)="invitationAnswer(notification.getNotificationId(),true)" class="btn btn-primary" 
                        data-dismiss="modal">Aceptar la solicitud</button>
                        <button type="button" (click)="invitationAnswer(notification.getNotificationId(),false)" class="btn btn-danger" 
                        data-dismiss="modal" style="margin-left:2%;">Rechazar la solicitud</button>
                    </div>              
            
                </div >

                <div *ngIf="notification.getContentSize()===1" class="container-fluid">
                    <h3>{{notification.getContent()[0]}}</h3>
                <div class="btn-group">
                    <button type="button" (click)="deleteNotification(notification.getNotificationId())" class="btn btn-primary">
                        <i class="material-icons">delete</i>
                    </button>
                  </div> 
                </div >


            </div>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>
