
<app-profile-nav-bar></app-profile-nav-bar>

<div class="row">

    <div class="col-xs-6 profileInformation">
        <div class="container-fluid">
            <app-user-information></app-user-information>
            </div>
            <hr><hr>
            <div class="container-fluid sessionPadding">
            <app-pending-sessions></app-pending-sessions>
          </div>
    </div>
    <div class="col-xs-6">
        <div class="container-fluid online">
            <app-online-players></app-online-players>
        </div>
    </div>

</div>