.split {
    height: 100%;
    width: 65%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-top: 10px;
    margin-top: 3%;
    padding-left: 0px;
}

.splitRight {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 10px;
    margin-top: 3%;
    padding-left: 0px;
}

.profileInformation{
    margin-left: 4%;
}

.online{
    background: gray;
    margin-left: 40%;
}

.sessionPadding{
    opacity: 10%;
    background-color: #FFFFFF;
    padding-top: 2%;
    margin-left: 5%;
    
}

.left {
    left: 0;
    background-color: black;
}

.right {
    right: 0;
    background-color:black;
}


@media only screen and (max-width: 600px) {
    
    .online{
        margin-left: 8%;
    }

}