<app-profile-nav-bar> <!-- the nav bar is here--></app-profile-nav-bar>

<div class="profileBody">
  <!--The body application is here-->
  <div class="bodyLeft">
    <div class="container-fluid">
      <app-user-information></app-user-information>
    </div>
    <hr>
    <div class="container-fluid">
      <app-pending-sessions></app-pending-sessions>
    </div>
  </div>
  <div class="sidebar">
    <div class="container-fluid">
    <app-online-players></app-online-players>
  </div>
  </div>
</div>
