<div class="container-fluid informationContainer">
  <span class="title">Informacion de la sesión</span>
  <br>
  <div class="content">
    <span>Número de partidas: {{sessionInformationHandler.getAmountGamesNumber()}}</span>
    <span>Partida actual: {{sessionInformationHandler.getCurrentGameNumber()}}</span>
  </div>
  <br>


  <table class="table table-responsive table-dark">
    <thead>
      <tr>
        <th>Partidas</th>
        <th>{{sessionInformationHandler.getPlayerOneName()}}</th>  <!-- first player name -->
        <th>{{sessionInformationHandler.getPlayerTwoName()}}</th>  <!-- second player name -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ganadas</td>
        <td>{{sessionInformationHandler.getWinsPlayerOne()}}</td> <!-- first player victories -->
        <td>{{sessionInformationHandler.getWinsPlayerTwo()}}</td> <!-- second player victories -->
      </tr>
      <tr>
        <td>Perdidas</td>
        <td>{{sessionInformationHandler.getWinsPlayerTwo()}}</td> <!-- first player defeats -->
        <td>{{sessionInformationHandler.getWinsPlayerOne()}} </td> <!-- second player defeats -->
      </tr>
      <tr>
        <td>Empatadas</td>
        <td>{{sessionInformationHandler.getTiesNumber()}}</td> <!-- first player tied -->
        <td>{{sessionInformationHandler.getTiesNumber()}}</td> <!-- second player tied -->
      </tr>
    </tbody>
  </table>

  <div class="form-group buttonGroup">
    <button type="button" class="btn btn-secondary btn-lg" (click)="giveUp()">  Rendirse  </button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="passTurn()">  Pasar de turno  </button>
    <a  class="" routerLink="/profileModule">
      <button type="button" class="btn btn-secondary btn-lg">Mi perfil</button>
    </a>
  </div>


</div>
